@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*==== header & footer ====*/
/*==== lsi ====*/
html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR";
  font-size: 1.6rem;
  background-color: #000000;
  color: #00fffb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .lsi-container {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .lsi-container .lsi-logo {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 40px;
    cursor: pointer;
  }
  .lsi-container .lsi-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5vh;
  }
  .lsi-container .lsi-content .lsi-poster img {
    width: 450px;
    height: 450px;
    border-radius: 10px;
    margin-right: 50px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .lsi-container .lsi-login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .lsi-container .lsi-login-section h2 {
    font-size: 3rem;
  }
  .lsi-container .lsi-login-section .lsi-login-btn {
    width: 426px;
    height: 48px;
    border: 2px solid #c1c7cd;
    background: transparent;
    color: #c1c7cd;
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
    padding: 20px;
    transition: all 0.3s;
    width: 426px;
    padding: 15px;
    font-size: 1.6rem;
  }
  .lsi-container .lsi-login-section .lsi-login-btn span {
    margin-right: 10px;
  }
  .lsi-container .lsi-login-section .lsi-login-btn span img {
    transition: all 0.3s;
  }
  .lsi-container .lsi-login-section .lsi-login-btn:hover {
    color: #ffffff;
  }
  .lsi-container .lsi-login-section .lsi-forgot-id {
    font-size: 1.6rem;
    color: #00fffb;
  }
  .lsi-container .lsi-login-section .lsi-forgot-id button {
    font-size: 1.6rem;
    border: none;
    background: transparent;
    color: #00fffb;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s;
  }
  .lsi-container .lsi-login-section .lsi-forgot-id button:hover {
    color: #ffffff;
  }
}
@media screen and (max-width: 1180px) {
  .lsi-container {
    width: 100%;
    max-width: 1180px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .lsi-container .lsi-logo {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    cursor: pointer;
  }
  .lsi-container .lsi-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 4vh;
  }
  .lsi-container .lsi-content .lsi-poster img {
    width: 350px;
    height: 350px;
    margin-right: 30px;
  }
  .lsi-container .lsi-login-section {
    gap: 30px;
  }
  .lsi-container .lsi-login-section h2 {
    font-size: 2.5rem;
  }
  .lsi-container .lsi-login-section .lsi-login-btn {
    width: 426px;
    height: 48px;
    border: 2px solid #c1c7cd;
    background: transparent;
    color: #c1c7cd;
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
    padding: 20px;
    transition: all 0.3s;
    width: 320px;
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  .lsi-container .lsi-login-section .lsi-login-btn:hover {
    color: #ffffff;
  }
  .lsi-container .lsi-login-section .lsi-forgot-id {
    font-size: 1.4rem;
    text-align: center;
  }
  .lsi-container .lsi-login-section .lsi-forgot-id button {
    font-size: 1.4rem;
    border: none;
    background: transparent;
    color: #00fffb;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s;
  }
  .lsi-container .lsi-login-section .lsi-forgot-id button:hover {
    color: #ffffff;
  }
}
@media screen and (max-width: 500px) {
  .lsi-container {
    width: 100%;
    max-width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .lsi-container .lsi-logo {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
  .lsi-container .lsi-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh;
  }
  .lsi-container .lsi-content .lsi-poster img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
  }
  .lsi-container .lsi-login-section {
    width: 100%;
    gap: 20px;
    text-align: center;
  }
  .lsi-container .lsi-login-section h2 {
    font-size: 2rem;
  }
  .lsi-container .lsi-login-section .lsi-login-btn {
    width: 426px;
    height: 48px;
    border: 2px solid #c1c7cd;
    background: transparent;
    color: #c1c7cd;
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
    padding: 20px;
    transition: all 0.3s;
    width: 250px;
    font-size: 1rem;
  }
  .lsi-container .lsi-login-section .lsi-login-btn:hover {
    color: #ffffff;
  }
  .lsi-container .lsi-login-section .lsi-forgot-id {
    font-size: 1rem;
  }
  .lsi-container .lsi-login-section .lsi-forgot-id button {
    font-size: 1rem;
    border: none;
    background: transparent;
    color: #00fffb;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s;
  }
  .lsi-container .lsi-login-section .lsi-forgot-id button:hover {
    color: #ffffff;
  }
}