* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*==== lsi ====*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #000000;
  color: #00fffb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  overflow: hidden;
}

.lsi-container {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lsi-container .lsi-logo {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
  cursor: pointer;
  font-size: 4rem;
}
@media (max-width: 1180px) {
  .lsi-container .lsi-logo {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .lsi-container .lsi-logo {
    font-size: 2.5rem;
  }
}
@media (max-width: 393px) {
  .lsi-container .lsi-logo {
    font-size: 1.5rem;
  }
}
.lsi-container .lsi-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5vh;
}
@media (max-width: 1180px) {
  .lsi-container .lsi-content {
    flex-direction: column;
    padding: 2vh;
  }
}
.lsi-container .lsi-login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.lsi-container .lsi-login-section h2 {
  font-size: 3rem;
}
@media (max-width: 1180px) {
  .lsi-container .lsi-login-section h2 {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .lsi-container .lsi-login-section h2 {
    font-size: 1rem;
  }
}
@media (max-width: 393px) {
  .lsi-container .lsi-login-section h2 {
    font-size: 1rem;
  }
}
.lsi-container .lsi-login-section .lsi-login-btn {
  width: 100%;
  max-width: 550px;
  height: 48px;
  border: 2px solid #c1c7cd;
  background: transparent;
  color: #c1c7cd;
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s;
}
@media (max-width: 1180px) {
  .lsi-container .lsi-login-section .lsi-login-btn {
    max-width: 426px;
    height: 44px;
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  .lsi-container .lsi-login-section .lsi-login-btn {
    max-width: 320px;
    height: 42px;
    font-size: 1.2rem;
  }
}
@media (max-width: 393px) {
  .lsi-container .lsi-login-section .lsi-login-btn {
    justify-content: center;
    max-width: 280px;
    height: 40px;
    font-size: 1rem;
  }
}
.lsi-container .lsi-login-section .lsi-login-btn span {
  margin-right: 10px;
}
.lsi-container .lsi-login-section .lsi-login-btn span img {
  transition: all 0.3s;
  width: 22px;
  height: 22px;
}
@media (max-width: 768px) {
  .lsi-container .lsi-login-section .lsi-login-btn span img {
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 393px) {
  .lsi-container .lsi-login-section .lsi-login-btn span img {
    width: 16px;
    height: 16px;
  }
}
.lsi-container .lsi-login-section .lsi-login-btn:hover {
  color: #ffffff;
}
.lsi-container .lsi-login-section .lsi-forgot-id {
  font-size: 1.4rem;
}
@media (max-width: 768px) {
  .lsi-container .lsi-login-section .lsi-forgot-id {
    font-size: 1rem;
  }
}
@media (max-width: 393px) {
  .lsi-container .lsi-login-section .lsi-forgot-id {
    font-size: 1rem;
  }
}
.lsi-container .lsi-login-section .lsi-forgot-id a {
  color: #87cddb;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
}
.lsi-container .lsi-login-section .lsi-forgot-id a:hover {
  -webkit-text-decoration: 2px underline;
          text-decoration: 2px underline;
}