@import "../../styles/variables.scss";
@import "../../styles/reset.scss";
@import "../../styles/mixin.scss";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: map-get($map: $color, $key: dark);
  color: map-get($map: $color, $key: main);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  overflow: hidden;
}

.lsi-container {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .lsi-logo {
    @include logo();
    font-size: 4rem;

    @media (max-width: 1180px) {
      font-size: 3rem;
    }

    @media (max-width: 768px) {
      font-size: 2.5rem;
    }

    @media (max-width: 393px) {
      font-size: 1.5rem;
    }
  }

  .lsi-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5vh;

    @media (max-width: 1180px) {
      flex-direction: column;
      padding: 2vh;
    }
  }

  .lsi-login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    h2 {
      font-size: 3rem;

      @media (max-width: 1180px) {
        font-size: 1.2rem;
      }

      @media (max-width: 768px) {
        font-size: 1rem;
      }

      @media (max-width: 393px) {
        font-size: 1rem;
      }
    }

    .lsi-login-btn {
      @include loginBtn();

      span {
        margin-right: 10px;

        img {
          transition: all 0.3s;
          width: 22px;
          height: 22px;

          @media (max-width: 768px) {
            width: 18px;
            height: 18px;
          }

          @media (max-width: 393px) {
            width: 16px;
            height: 16px;
          }
        }
      }

      &:hover {
        color: map-get($map: $color, $key: light);
      }
    }

    .lsi-forgot-id {
      font-size: 1.4rem;

      @media (max-width: 768px) {
        font-size: 1rem;
      }

      @media (max-width: 393px) {
        font-size: 1rem;
      }

      a {
        color: map-get($map: $color, $key: sub-01);
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
        transition: all 0.3s;

        &:hover {
          text-decoration: 2px underline;
        }
      }
    }
  }
}
