@import "../../styles/variables.scss";
@import "../../styles/reset.scss";
@import "../../styles/mixin.scss";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: map-get($map: $color, $key: dark);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 1200px) and (max-width: 1920px) {
  .lsi-reset-password-container {
    width: 500px;
    padding: 2rem;
  }

  .lsi-reset-password-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

    .lsi-back-button {
      font-size: 1rem;
      color: map-get($map: $color, $key: dark);
      background: map-get($map: $color, $key: main);
      text-decoration: none;
      cursor: pointer;
      border-radius: 20px;
      i {
        padding: 10px;
        font-size: 1rem;
      }

      &:hover {
        color: map-get($map: $color, $key: light);
      }
    }

    h1 {
      font-size: 3rem;
      color: map-get($map: $color, $key: main);
    }
  }

  .lsi-reset-password-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    input[type="email"] {
      @include inputText();
      width: 100%;

      &:focus {
        border: 1px solid map-get($map: $color, $key: main);
        outline: none;
      }
    }

    .lsi-reset-instruction {
      font-size: 1rem;
      color: map-get($map: $color, $key: btn-bg);
      line-height: 1.5;
    }

    .lsi-reset-btn {
      @include findBtn();
      width: 100%;

      &:hover {
        color: map-get($map: $color, $key: light);
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  .lsi-reset-password-container {
    width: 400px;
    padding: 2rem;
    text-align: center;
  }

  .lsi-reset-password-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

    .lsi-back-button {
      font-size: 1rem;
      color: map-get($map: $color, $key: dark);
      background: map-get($map: $color, $key: main);
      text-decoration: none;
      cursor: pointer;
      border-radius: 20px;
      i {
        padding: 10px;
        font-size: 1rem;
      }
      &:hover {
        color: map-get($map: $color, $key: light);
      }
    }

    h1 {
      font-size: 2.5rem;
      color: map-get($map: $color, $key: main);
    }
  }

  .lsi-reset-password-form {
    input[type="email"] {
      @include inputText();
      width: 100%;

      &:focus {
        border: 1px solid map-get($map: $color, $key: main);
        outline: none;
      }
      &::placeholder {
        font-size: 1.2rem;
      }
    }

    .lsi-reset-instruction {
      font-size: 1rem;
      color: map-get($map: $color, $key: btn-bg);
      line-height: 1.5;
      text-align: left;
      margin-bottom: 10px;
    }

    .lsi-reset-btn {
      @include findBtn();
      width: 100%;
      font-size: 1.2rem;
      &:hover {
        color: map-get($map: $color, $key: light);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .lsi-reset-password-container {
    width: 68%;
    padding: 1rem;
    text-align: left;
  }

  .lsi-reset-password-header {
    display: flex;
    align-items: left;
    margin-bottom: 10px;

    h1 {
      font-size: 2rem;
      text-align: left;
    }

    .lsi-back-button {
      font-size: 1rem;
      color: map-get($map: $color, $key: dark);
      background: map-get($map: $color, $key: main);
      text-decoration: none;
      cursor: pointer;
      border-radius: 20px;
      i {
        padding: 10px;
        font-size: 1rem;
      }
    }
  }

  .lsi-reset-password-form {
    gap: 12px;

    input[type="email"] {
      @include inputText();
      width: 100%;

      &:focus {
        border: 1px solid map-get($map: $color, $key: main);
        outline: none;
      }

      &::placeholder {
        font-size: 1rem;
      }
    }

    .lsi-reset-btn {
      @include findBtn();
      width: 100%;
      font-size: 1rem;
      &:hover {
        color: map-get($map: $color, $key: light);
      }
    }

    .lsi-reset-instruction {
      font-size: 0.9rem;
      color: map-get($map: $color, $key: btn-bg);
      line-height: 1.5;
      margin-bottom: 10px;
      padding-left: 0;
    }
  }
}
