@import "../../styles/variables.scss";
@import "../../styles/reset.scss";
@import "../../styles/mixin.scss";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: map-get($map: $color, $key: dark);
  // color: map-get($map: $color, $key: main);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  overflow: hidden;
}
.lsi-reset-password-header {
  width: 500px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  .lsi-back-button {
    font-size: 3rem;
    color: map-get($map: $color, $key: main);
    text-decoration: none;

    &:hover {
      color: map-get($map: $color, $key: main);
    }
  }

  h1 {
    font-size: 3rem;
    color: map-get($map: $color, $key: main);
  }
}

.lsi-reset-password-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  input[type="email"] {
    @include inputText();
    &:focus {
      border: 1px solid map-get($map: $color, $key: main);
      outline: none;
    }
  }

  .lsi-reset-instruction {
    font-size: 1rem;
    color: map-get($map: $color, $key: btn-bg);
    line-height: 1.5;
    padding-left: 10px;
  }

  .lsi-reset-btn {
    @include findBtn();
    &:hover {
      color: map-get($map: $color, $key: light);
    }
  }
}
