/* reset */
@import "./styles/reset.scss";

/* variables */
@import "./styles/variables.scss";

/* mixin */
@import "./styles/mixin.scss";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

#container {
  width: 100%;
  height: 100%;
  background: map-get($map: $color, $key: dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  .smk-content-inner {
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    .smk-content-01 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .smk-content-top {
        @include size-1200-793;
        border: 1px solid #f00;
        position: relative;
        h2 {
          color: map-get($map: $color, $key: light);
          position: absolute;
          top: 15px;
          left: 15px;
        }
      }
      .smk-content-bottom {
        display: flex;
        gap: 20px;
        .smk-bottom-item {
          @include size-183-183;
          border: 1px solid #f00;
        }
      }
    }
    .smk-content-02 {
      width: 100%;
      height: 100%;
      display: flex;
      gap: 20px;
      .smk-content-left {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .smk-left-item {
          &:nth-child(1) {
            @include size-387-183;
            border: 1px solid #f00;
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
              color: map-get($map: $color, $key: light);
            }
          }
          &:nth-child(2) {
            @include size-387-387;
            border: 1px solid #f00;
          }
          &:nth-child(3) {
            @include size-387-590;
            border: 1px solid #f00;
          }
        }
      }
      .smk-content-right {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .smk-right-item {
          &:nth-child(1) {
            display: flex;
            gap: 20px;
            .smk-right-item-01 {
              @include size-387-387;
              border: 1px solid #f00;
            }
            .smk-right-item-02 {
              @include size-387-387;
              border: 1px solid #f00;
            }
          }
          &:nth-child(2) {
            @include size-793-387;
            border: 1px solid #f00;
          }
          &:nth-child(3) {
            @include size-793-387;
            border: 1px solid #f00;
          }
        }
      }
    }
    .smk-content-03 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .smk-content-top {
        display: flex;
        gap: 20px;
        .smk-top-item-01 {
          @include size-387-183;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #f00;
          h2 {
            color: map-get($map: $color, $key: light);
          }
        }
        .smk-top-item-02 {
          @include size-183-183;
          border: 1px solid #f00;
        }
      }
      .smk-content-middle {
        display: flex;
        gap: 20px;
        .smk-middle-item {
          @include size-387-183;
          border: 1px solid #f00;
        }
      }
      .smk-content-bottom {
        display: flex;
        gap: 20px;
        .smk-bottom-item {
          @include size-387-183;
          border: 1px solid #f00;
        }
      }
    }
    .smk-content-04 {
      display: flex;
      gap: 20px;
      .smk-content-left {
        position: relative;
        h2 {
          position: absolute;
          top: 15px;
          left: 15px;
          color: map-get($map: $color, $key: light);
        }
        .smk-left-item {
          @include size-793-792;
          border: 1px solid #f00;
        }
      }
      .smk-content-right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .smk-right-item {
          @include size-387-183;
          border: 1px solid #f00;
        }
      }
    }
  }
}
