/* reset */
@import "./styles/reset.scss";

/* variables */
@import "./styles/variables.scss";

/* mixin */
@import "./styles/mixin.scss";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// 웹

#web-container {
  width: 100%;
  height: 100%;
  background: map-get($map: $color, $key: dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  position: relative;
  header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: map-get($map: $color, $key: page-bg);
    z-index: 2;
    .header-inner {
      width: 1200px;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      .inner-left {
        display: flex;
        align-items: center;
        gap: 100px;

        h2 {
          font-size: 3.2rem;
          color: map-get($map: $color, $key: main);
        }
        .category {
          display: flex;
          align-items: center;
          gap: 30px;
          h4 {
            color: map-get($map: $color, $key: btn-bg);
            cursor: pointer;
            transition: all 0.4s;
            &:hover {
              color: map-get($map: $color, $key: main);
              text-decoration: underline;
              text-underline-offset: 6px;
            }
          }
        }
      }
      .inner-right {
        display: flex;
        align-items: center;
        gap: 50px;
        .search-bar {
          width: 300px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid map-get($map: $color, $key: btn-bg);
          padding: 0 10px;
          input[type="text"] {
            width: 200px;
            height: 40px;
            border: none;
            font-size: 1.6rem;
            background-color: transparent;
            color: map-get($map: $color, $key: light);
            &::placeholder {
              transition: all 0.5s;
              opacity: 1;
            }
            &:focus {
              outline: none;
              &::placeholder {
                opacity: 0;
              }
            }
          }
          .fa-magnifying-glass {
            font-size: 2.4rem;
            color: map-get($map: $color, $key: btn-bg);
          }
        }
        .menu-icon {
          display: flex;
          align-items: center;
          gap: 30px;
          i {
            font-size: 2.4rem;
            color: map-get($map: $color, $key: btn-bg);
          }
        }
      }
    }
  }
  .smk-content-inner {
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    padding-top: 100px;

    .smk-content-01 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .smk-content-top {
        @include size-1200-793;
        border: 1px solid #f00;
        position: relative;
        h2 {
          color: map-get($map: $color, $key: light);
          position: absolute;
          top: 15px;
          left: 15px;
        }
      }
      .smk-content-bottom {
        display: flex;
        gap: 20px;
        .smk-bottom-item {
          background: #fff;
          @include size-183-183;
        }
      }
    }
    .smk-content-02 {
      width: 100%;
      height: 100%;
      display: flex;
      gap: 20px;
      .smk-content-left {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .smk-left-item {
          &:nth-child(1) {
            @include size-387-183;
            border: 1px solid #f00;
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
              color: map-get($map: $color, $key: light);
            }
          }
          &:nth-child(2) {
            @include size-387-387;
            background: #fff;
          }
          &:nth-child(3) {
            @include size-387-590;
            background: #fff;
          }
        }
      }
      .smk-content-right {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .smk-right-item {
          &:nth-child(1) {
            display: flex;
            gap: 20px;
            .smk-right-item-01 {
              @include size-387-387;
              background: #fff;
            }
            .smk-right-item-02 {
              @include size-387-387;
              background: #fff;
            }
          }
          &:nth-child(2) {
            @include size-793-387;
            background: #fff;
          }
          &:nth-child(3) {
            @include size-793-387;
            background: #fff;
          }
        }
      }
    }
    .smk-content-03 {
      overflow: hidden;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .smk-content-top {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 20px;
        .smk-top-item-01 {
          @include size-387-183;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #f00;
          h2 {
            color: map-get($map: $color, $key: light);
          }
        }
        .smk-top-item-02 {
          @include size-183-183;
          background: #fff;
        }
      }
      .smk-content-middle {
        display: flex;
        animation: slide-01 20s linear infinite;
        gap: 20px;
        .smk-middle-item {
          flex-shrink: 0;
          @include size-387-183;
          border: 1px solid #f00;
        }
      }
      .smk-content-bottom {
        display: flex;
        animation: slide-02 15s linear infinite;
        gap: 20px;
        .smk-bottom-item {
          flex-shrink: 0;
          @include size-387-183;
          border: 1px solid #f00;
        }
      }
    }
    .smk-content-04 {
      display: flex;
      gap: 20px;
      .smk-content-left {
        position: relative;
        h2 {
          position: absolute;
          top: 15px;
          left: 15px;
          color: map-get($map: $color, $key: light);
        }
        .smk-left-item {
          @include size-793-792;
          border: 1px solid #f00;
        }
      }
      .smk-content-right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .smk-right-item {
          @include size-387-183;
          background: #fff;
        }
      }
    }
  }
  footer {
    width: 100%;
    background: map-get($map: $color, $key: page-bg);
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    .footer-inner {
      width: 1200px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;
      .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          font-size: 2.4rem;
          font-weight: bold;
          color: map-get($map: $color, $key: main);
        }
        ul {
          display: flex;
          gap: 20px;
          li {
            color: map-get($map: $color, $key: btn-bg);
          }
        }
      }
      hr {
        color: map-get($map: $color, $key: btn-bg);
      }
      .footer-middle {
        ul {
          display: flex;
          flex-direction: column;
          gap: 5px;
          color: map-get($map: $color, $key: btn-bg);
        }
      }
      .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          color: map-get($map: $color, $key: btn-bg);
        }
        .footer-icon {
          display: flex;
          gap: 20px;
          font-size: 1.8rem;
          color: map-get($map: $color, $key: btn-bg);
        }
      }
    }
  }
}

.lgm_top_button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  right: 50px;
  bottom: 25px;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.lgm_top_button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(181, 160, 255);
  align-items: center;
}

.lgm_top_button:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.lgm_top_button::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.lgm_top_button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}

#tablet-container {
  display: none;
}

#mobile-container {
  display: none;
}

// 태블릿

@media screen and (min-width: 960px) and (max-width: 1199px) {
  #web-container {
    display: none;
  }
  #tablet-container {
    width: 100%;
    height: 100%;
    background: map-get($map: $color, $key: dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    position: relative;
    header {
      width: 100%;
      height: 100px;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: map-get($map: $color, $key: page-bg);
      z-index: 2;
      .header-inner {
        width: 940px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        .inner-left {
          display: flex;
          align-items: center;
          gap: 50px;
          h2 {
            font-size: 2.4rem;
            color: map-get($map: $color, $key: main);
          }
          .category {
            display: flex;
            align-items: center;
            gap: 20px;
            h4 {
              font-size: 1.4rem;
              color: map-get($map: $color, $key: btn-bg);
              cursor: pointer;
              transition: all 0.4s;
              &:hover {
                color: map-get($map: $color, $key: main);
                text-decoration: underline;
                text-underline-offset: 6px;
              }
            }
          }
        }
        .inner-right {
          display: flex;
          align-items: center;
          gap: 40px;
          .search-bar {
            width: 250px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid map-get($map: $color, $key: btn-bg);
            padding: 0 10px;
            input[type="text"] {
              width: 250px;
              height: 40px;
              border: none;
              font-size: 1.6rem;
              background-color: transparent;
              color: map-get($map: $color, $key: light);
              &::placeholder {
                transition: all 0.5s;
                opacity: 1;
              }
              &:focus {
                outline: none;
                &::placeholder {
                  opacity: 0;
                }
              }
            }
            .fa-magnifying-glass {
              font-size: 1.6rem;
              color: map-get($map: $color, $key: btn-bg);
            }
          }
          .menu-icon {
            display: flex;
            align-items: center;
            gap: 20px;
            i {
              font-size: 1.6rem;
              color: map-get($map: $color, $key: btn-bg);
            }
          }
        }
      }
    }
    .smk-content-inner {
      width: 940px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 100px;
      padding-top: 100px;
      .smk-content-01 {
        display: flex;
        gap: 20px;
        .smk-content-left {
          width: 556px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          .content-left-top {
            .left-top-item {
              @include size-556-364;
              border: 1px solid #f00;
            }
          }
          .content-left-bottom {
            display: flex;
            gap: 20px;
            .left-bottom-item {
              @include size-172-172;
              border: 1px solid #f00;
            }
          }
        }
        .smk-content-right {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .content-right-top {
            .right-top-item {
              @include size-364-364;
              border: 1px solid #f00;
            }
          }
          .content-right-bottom {
            display: flex;
            gap: 20px;
            .right-bottom-item {
              @include size-172-172;
              border: 1px solid #f00;
            }
          }
        }
      }
      .smk-content-02 {
        display: flex;
        gap: 20px;
        .smk-content-left {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .content-left-top {
            display: flex;
            gap: 20px;
            .left-top-item {
              @include size-172-172;
              border: 1px solid #f00;
            }
          }
          .content-left-bottom {
            .left-bottom-item {
              @include size-364-172;
              border: 1px solid #f00;
            }
          }
        }
        .smk-content-middle {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .content-middle-top {
            display: flex;
            gap: 20px;
            .middle-top-item {
              @include size-172-172;
              border: 1px solid #f00;
            }
          }
          .content-middle-bottom {
            .middle-bottom-item {
              @include size-364-172;
              border: 1px solid #f00;
            }
          }
        }
        .smk-content-right {
          .content-right-item {
            @include size-172-364;
            border: 1px solid #f00;
          }
        }
      }
      .smk-content-03 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;
        .smk-content-top {
          display: flex;
          gap: 20px;
          .smk-top-item {
            @include size-172-172;
            border: 1px solid #f00;
          }
        }
        .smk-content-middle {
          display: flex;
          gap: 20px;
          animation: slide-01 20s linear infinite;
          .smk-middle-item {
            flex-shrink: 0;
            @include size-364-172;
            border: 1px solid #f00;
          }
        }
        .smk-content-bottom {
          display: flex;
          gap: 20px;
          animation: slide-02 20s linear infinite;
          .smk-bottom-item {
            flex-shrink: 0;
            @include size-364-172;
            border: 1px solid #f00;
          }
        }
      }
      .smk-content-04 {
        height: 556px;
        display: flex;
        gap: 20px;
        overflow: hidden;
        .smk-content-left {
          .content-left-item {
            @include size-556-556;
            border: 1px solid #f00;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            h2 {
              position: absolute;
              top: 15px;
              left: 15px;
              color: map-get($map: $color, $key: light);
            }
          }
        }
        .smk-content-right {
          display: flex;
          flex-direction: column;
          gap: 20px;
          animation: slide-03 20s linear infinite;
          .content-right-item {
            flex-shrink: 0;
            @include size-364-172;
            border: 1px solid #f00;
          }
        }
      }
    }
    footer {
      width: 100%;
      background: map-get($map: $color, $key: page-bg);
      margin-top: 100px;
      display: flex;
      justify-content: center;
      padding: 30px 0;
      .footer-inner {
        width: 940px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer-left {
          p {
            font-size: 2.4rem;
            font-weight: bold;
            color: map-get($map: $color, $key: main);
          }
        }
        .footer-middle {
          p {
            font-size: 1.4rem;
            color: map-get($map: $color, $key: btn-bg);
          }
        }
        .footer-right {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .footer-icon {
            display: flex;
            gap: 20px;
            font-size: 1.4rem;
            color: map-get($map: $color, $key: btn-bg);
          }
        }
      }
    }
    .top-button {
      .lgm_top_button {
        position: fixed;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgb(20, 20, 20);
        border: none;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
        cursor: pointer;
        transition-duration: 0.3s;
        overflow: hidden;
        z-index: 999;
        right: 50px;
        bottom: 50px;
      }

      .svgIcon {
        width: 12px;
        transition-duration: 0.3s;
      }

      .svgIcon path {
        fill: white;
      }

      .lgm_top_button:hover {
        width: 140px;
        border-radius: 50px;
        transition-duration: 0.3s;
        background-color: rgb(181, 160, 255);
        align-items: center;
      }

      .lgm_top_button:hover .svgIcon {
        /* width: 20px; */
        transition-duration: 0.3s;
        transform: translateY(-200%);
      }

      .lgm_top_button::before {
        position: absolute;
        bottom: -20px;
        content: "Back to Top";
        color: white;
        /* transition-duration: .3s; */
        font-size: 0px;
      }

      .lgm_top_button:hover::before {
        font-size: 13px;
        opacity: 1;
        bottom: unset;
        /* transform: translateY(-30px); */
        transition-duration: 0.3s;
      }
    }
  }
  #mobile-container {
    display: none;
  }
}

// 모바일

@media screen and (max-width: 959px) {
  #web-container {
    display: none;
  }
  #tablet-container {
    display: none;
  }
  #mobile-container {
    width: 100%;
    height: 100%;
    background: map-get($map: $color, $key: dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    header {
      width: 100%;
      height: 50px;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: map-get($map: $color, $key: page-bg);
      z-index: 2;
      .header-inner {
        width: 326px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;

        .inner-left {
          display: flex;
          align-items: center;
          gap: 50px;
          h2 {
            font-size: 1.2rem;
            color: map-get($map: $color, $key: main);
          }
        }
      }

      .lgm_trigger {
        width: 30px;
        height: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        z-index: -1;
        span {
          transition: all 0.3s;
          position: absolute;
          width: 100%;
          height: 1px;
          background: #ffffff;
          opacity: 1;
          cursor: pointer;

          &:nth-child(1) {
            top: 0;
            height: 0.5px;
          }
          &:nth-child(2) {
            top: 50%;
            width: 80%;
            height: 0.5px;
          }
          &:nth-child(3) {
            top: 100%;
            height: 0.5px;
          }
        }
        .lgm_trigger_i {
          display: flex;
          cursor: pointer;
          i {
            opacity: 1;
            visibility: hidden;
            font-size: 3rem;
            transform: translate(-130px, 80px);
            margin: 0 13px;
          }
        }

        &.active {
          span {
            &:nth-child(1) {
              top: 50%;
              transform: rotate(45deg);
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              top: 50%;
              transform: rotate(-45deg);
            }
          }

          .lgm_trigger_i {
            i {
              opacity: 1;
              visibility: visible;
            }
          }
          .lgm_trigger_bottom {
            h4 {
              opacity: 1;
              visibility: visible;
            }
          }
        }
        .lgm_trigger_bottom {
          flex-direction: column;
          width: 150px;
          height: 500px;
          transform: translate(-140px, 80px);
          margin-top: 60px;
          h4 {
            opacity: 0;
            visibility: hidden;

            cursor: pointer;
            margin-top: 30px;
            text-align: center;
          }
        }
      }
    }
    .smk-content-inner {
      width: 326px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      padding-top: 50px;
      position: relative;
      .lgm_active_trigger {
        position: absolute;
        width: 230px;
        height: 1725px;
        right: -100px;
        margin-top: -50px;
        transition: all 0.3s;
        opacity: 0;
        background: #ddd;
        &.active {
          opacity: 1;
        }
      }

      .smk-content-01 {
        display: flex;
        gap: 5px;
        .smk-content-left {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .content-left-top {
            .left-top-item {
              @include size-243-160;
              border: 1px solid #f00;
            }
          }
          .content-left-bottom {
            display: flex;
            gap: 5px;
            .left-bottom-item {
              @include size-77-77;
              border: 1px solid #f00;
            }
          }
        }
        .smk-content-right {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .content-right-item {
            @include size-77-77;
            border: 1px solid #f00;
          }
        }
      }
      .smk-content-02 {
        display: flex;
        gap: 5px;
        .smk-content-left {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .content-left-item {
            @include size-160-77;
            border: 1px solid #f00;
          }
        }
        .smk-content-middle {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .content-middle-item {
            @include size-77-77;
            border: 1px solid #f00;
          }
        }
        .smk-content-right {
          .content-right-item {
            @include size-77-241;
            border: 1px solid #f00;
          }
        }
      }
      .smk-content-03 {
        display: flex;
        flex-direction: column;
        gap: 5px;
        overflow: hidden;
        .smk-content-top {
          display: flex;
          gap: 5px;
          .content-top-item {
            @include size-77-77;
            border: 1px solid #f00;
          }
        }
        .smk-content-middle {
          display: flex;
          gap: 5px;
          animation: slide-01 20s linear infinite;
          .content-middle-item {
            flex: 0 0 160px;
            @include size-160-77;
            border: 1px solid #f00;
          }
        }
        .smk-content-bottom {
          display: flex;
          gap: 5px;
          animation: slide-02 20s linear infinite;
          .content-bottom-item {
            flex: 0 0 160px;
            @include size-160-77;
            border: 1px solid #f00;
          }
        }
      }
      .smk-content-04 {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .smk-content-top {
          display: flex;
          gap: 5px;
          .content-top-item {
            @include size-326-326;
            border: 1px solid #f00;
          }
        }
        .smk-content-middle {
          display: flex;
          gap: 5px;
          .content-middle-item {
            @include size-160-77;
            border: 1px solid #f00;
          }
        }
        .smk-content-bottom {
          display: flex;
          gap: 5px;
          .content-bottom-item {
            @include size-160-77;
            border: 1px solid #f00;
          }
        }
      }
    }
    footer {
      width: 100%;
      background: map-get($map: $color, $key: page-bg);
      margin-top: 50px;
      display: flex;
      justify-content: center;
      padding: 20px 0;
      .footer-inner {
        width: 326px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        .footer-top {
          p {
            font-size: 1.4rem;
            font-weight: bold;
            color: map-get($map: $color, $key: main);
          }
        }
        .footer-middle {
          p {
            font-size: 1.2rem;
            color: map-get($map: $color, $key: btn-bg);
          }
        }
        .footer-bottom {
          .footer-icon {
            display: flex;
            gap: 10px;
            font-size: 1.2rem;
            color: map-get($map: $color, $key: btn-bg);
          }
        }
      }
    }
    .top-button {
      .lgm_top_button {
        position: fixed;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgb(20, 20, 20);
        border: none;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
        cursor: pointer;
        transition-duration: 0.3s;
        overflow: hidden;
        z-index: 999;
        right: 50px;
        bottom: 50px;
        transform: translateY(-65px);
      }

      .svgIcon {
        width: 10px;
        transition-duration: 0.3s;
      }

      .svgIcon path {
        fill: white;
      }

      .lgm_top_button:hover {
        width: 90px;
        border-radius: 50px;
        transition-duration: 0.3s;
        background-color: rgb(181, 160, 255);
        align-items: center;
      }

      .lgm_top_button:hover .svgIcon {
        /* width: 20px; */
        transition-duration: 0.3s;
        transform: translateY(-200%);
      }

      .lgm_top_button::before {
        position: absolute;
        bottom: -20px;
        content: "Back to Top";
        color: white;
        /* transition-duration: .3s; */
        font-size: 0px;
      }

      .lgm_top_button:hover::before {
        font-size: 10px;
        opacity: 1;
        bottom: unset;
        /* transform: translateY(-30px); */
        transition-duration: 0.3s;
      }
    }
  }
}

// 슬라이드

@keyframes slide-01 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-99%);
  }
}

@keyframes slide-02 {
  0% {
    transform: translateX(-99%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-03 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-99%);
  }
}

// 탑 버튼
