/* reset */
@import "./styles/reset.scss";

/* variables */
@import "./styles/variables.scss";

/* mixin */
@import "./styles/mixin.scss";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#web-container {
  width: 100%;
  height: 100%;
  background: map-get($map: $color, $key: dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: map-get($map: $color, $key: page-bg);
    z-index: 2;
    .header-inner {
      width: 1200px;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      .inner-left {
        display: flex;
        align-items: center;
        gap: 100px;

        h2 {
          font-size: 3.2rem;
          color: map-get($map: $color, $key: main);
        }
        .category {
          display: flex;
          align-items: center;
          gap: 30px;
          h4 {
            color: map-get($map: $color, $key: btn-bg);
            cursor: pointer;
            transition: all 0.4s;
            &:hover {
              color: map-get($map: $color, $key: main);
              text-decoration: underline;
              text-underline-offset: 6px;
            }
          }
        }
      }
      .inner-right {
        display: flex;
        align-items: center;
        gap: 50px;
        .search-bar {
          width: 300px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid map-get($map: $color, $key: btn-bg);
          padding: 0 10px;
          input[type="text"] {
            width: 200px;
            height: 40px;
            border: none;
            font-size: 1.6rem;
            background-color: transparent;
            color: map-get($map: $color, $key: light);
            &::placeholder {
              transition: all 0.5s;
              opacity: 1;
            }
            &:focus {
              outline: none;
              &::placeholder {
                opacity: 0;
              }
            }
          }
          .fa-magnifying-glass {
            font-size: 2.4rem;
            color: map-get($map: $color, $key: btn-bg);
          }
        }
        .menu-icon {
          display: flex;
          align-items: center;
          gap: 30px;
          i {
            font-size: 2.4rem;
            color: map-get($map: $color, $key: btn-bg);
          }
        }
      }
    }
  }
  .smk-content-inner {
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    padding-top: 100px;
    .smk-content-01 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .smk-content-top {
        @include size-1200-793;
        border: 1px solid #f00;
        position: relative;
        h2 {
          color: map-get($map: $color, $key: light);
          position: absolute;
          top: 15px;
          left: 15px;
        }
      }
      .smk-content-bottom {
        display: flex;
        gap: 20px;
        .smk-bottom-item {
          background: #fff;
          @include size-183-183;
        }
      }
    }
    .smk-content-02 {
      width: 100%;
      height: 100%;
      display: flex;
      gap: 20px;
      .smk-content-left {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .smk-left-item {
          &:nth-child(1) {
            @include size-387-183;
            border: 1px solid #f00;
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
              color: map-get($map: $color, $key: light);
            }
          }
          &:nth-child(2) {
            @include size-387-387;
            background: #fff;
          }
          &:nth-child(3) {
            @include size-387-590;
            background: #fff;
          }
        }
      }
      .smk-content-right {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .smk-right-item {
          &:nth-child(1) {
            display: flex;
            gap: 20px;
            .smk-right-item-01 {
              @include size-387-387;
              background: #fff;
            }
            .smk-right-item-02 {
              @include size-387-387;
              background: #fff;
            }
          }
          &:nth-child(2) {
            @include size-793-387;
            background: #fff;
          }
          &:nth-child(3) {
            @include size-793-387;
            background: #fff;
          }
        }
      }
    }
    .smk-content-03 {
      overflow: hidden;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .smk-content-top {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 20px;
        .smk-top-item-01 {
          @include size-387-183;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #f00;
          h2 {
            color: map-get($map: $color, $key: light);
          }
        }
        .smk-top-item-02 {
          @include size-183-183;
          background: #fff;
        }
      }
      .smk-content-middle {
        display: flex;
        animation: slide-01 20s linear infinite;
        gap: 20px;
        .smk-middle-item {
          flex: 0 0 387px;
          @include size-387-183;
          border: 1px solid #f00;
        }
      }
      .smk-content-bottom {
        display: flex;
        animation: slide-02 20s linear infinite;
        gap: 20px;
        .smk-bottom-item {
          flex: 0 0 387px;
          @include size-387-183;
          border: 1px solid #f00;
        }
      }
    }
    .smk-content-04 {
      display: flex;
      gap: 20px;
      .smk-content-left {
        position: relative;
        h2 {
          position: absolute;
          top: 15px;
          left: 15px;
          color: map-get($map: $color, $key: light);
        }
        .smk-left-item {
          @include size-793-792;
          border: 1px solid #f00;
        }
      }
      .smk-content-right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .smk-right-item {
          @include size-387-183;
          background: #fff;
        }
      }
    }
  }
}

#tablet-container {
  display: none;
}

#mobile-container {
  display: none;
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
  #web-container {
    display: none;
  }
  #tablet-container {
    width: 100%;
    height: 100%;
    background: map-get($map: $color, $key: dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    header {
      width: 100%;
      height: 100px;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: map-get($map: $color, $key: page-bg);
      z-index: 2;
      .header-inner {
        width: 940px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        .inner-left {
          display: flex;
          align-items: center;
          gap: 50px;
          h2 {
            font-size: 2.4rem;
            color: map-get($map: $color, $key: main);
          }
          .category {
            display: flex;
            align-items: center;
            gap: 20px;
            h4 {
              font-size: 1.4rem;
              color: map-get($map: $color, $key: btn-bg);
              cursor: pointer;
              transition: all 0.4s;
              &:hover {
                color: map-get($map: $color, $key: main);
                text-decoration: underline;
                text-underline-offset: 6px;
              }
            }
          }
        }
        .inner-right {
          display: flex;
          align-items: center;
          gap: 40px;
          .search-bar {
            width: 250px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid map-get($map: $color, $key: btn-bg);
            padding: 0 10px;
            input[type="text"] {
              width: 250px;
              height: 40px;
              border: none;
              font-size: 1.6rem;
              background-color: transparent;
              color: map-get($map: $color, $key: light);
              &::placeholder {
                transition: all 0.5s;
                opacity: 1;
              }
              &:focus {
                outline: none;
                &::placeholder {
                  opacity: 0;
                }
              }
            }
            .fa-magnifying-glass {
              font-size: 1.6rem;
              color: map-get($map: $color, $key: btn-bg);
            }
          }
          .menu-icon {
            display: flex;
            align-items: center;
            gap: 20px;
            i {
              font-size: 1.6rem;
              color: map-get($map: $color, $key: btn-bg);
            }
          }
        }
      }
    }
    .smk-content-inner {
      width: 940px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 100px;
      padding-top: 100px;
      .smk-content-01 {
        display: flex;
        gap: 20px;
        .smk-content-left {
          width: 556px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          .content-left-top {
            @include size-556-364;
            border: 1px solid #f00;
          }
          .content-left-bottom {
            display: flex;
            gap: 20px;
            .left-bottom-item {
              @include size-172-172;
              border: 1px solid #f00;
            }
          }
        }
        .smk-content-right {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .content-right-top {
            @include size-364-364;
            border: 1px solid #f00;
          }
          .content-right-bottom {
            display: flex;
            gap: 20px;
            .right-bottom-item {
              @include size-172-172;
              border: 1px solid #f00;
            }
          }
        }
      }
      .smk-content-02 {
        display: flex;
        gap: 20px;
        .smk-content-left {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .content-left-top {
            display: flex;
            gap: 20px;
            .left-top-item {
              @include size-172-172;
              border: 1px solid #f00;
            }
          }
          .content-left-bottom {
            @include size-364-172;
            border: 1px solid #f00;
          }
        }
        .smk-content-middle {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .content-middle-top {
            display: flex;
            gap: 20px;
            .middle-top-item {
              @include size-172-172;
              border: 1px solid #f00;
            }
          }
          .content-middle-bottom {
            @include size-364-172;
            border: 1px solid #f00;
          }
        }
        .smk-content-right {
          @include size-172-364;
          border: 1px solid #f00;
        }
      }
      .smk-content-03 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .smk-content-top {
          display: flex;
          gap: 20px;
          .smk-top-item-01 {
            @include size-172-172;
            border: 1px solid #f00;
          }
          .smk-top-item-02 {
            @include size-364-172;
            border: 1px solid #f00;
          }
        }
        .smk-content-middle {
          display: flex;
          gap: 20px;
          .smk-middle-item-01 {
            @include size-172-172;
            border: 1px solid #f00;
          }
          .smk-middle-item-02 {
            @include size-364-172;
            border: 1px solid #f00;
          }
        }
        .smk-content-bottom {
          display: flex;
          gap: 20px;
          .smk-bottom-item-01 {
            @include size-172-172;
            border: 1px solid #f00;
          }
          .smk-bottom-item-02 {
            @include size-364-172;
            border: 1px solid #f00;
          }
        }
      }
      .smk-content-04 {
        display: flex;
        gap: 20px;
      }
      .smk-content-left {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .content-left-item-01 {
          @include size-556-172;
          border: 1px solid #f00;
          display: flex;
          justify-content: center;
          align-items: center;
          h2 {
            color: map-get($map: $color, $key: light);
          }
        }
        .content-left-item-02 {
          @include size-556-556;
          border: 1px solid #f00;
        }
      }
      .smk-content-right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .content-right-item {
          @include size-364-172;
          border: 1px solid #f00;
        }
      }
    }
  }
  #mobile-container {
    display: none;
  }
}

@media screen and (max-width: 959px) {
  #web-container {
    display: none;
  }
  #tablet-container {
    display: none;
  }
  #mobile-container {
    width: 100%;
    height: 100%;
    background: map-get($map: $color, $key: dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    header {
      width: 100%;
      height: 50px;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: map-get($map: $color, $key: page-bg);
      z-index: 2;
      .header-inner {
        width: 326px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        .inner-left {
          display: flex;
          align-items: center;
          gap: 50px;
          h2 {
            font-size: 1.2rem;
            color: map-get($map: $color, $key: main);
          }
        }
      }
    }
    .smk-content-inner {
      width: 326px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      padding-top: 50px;
      .smk-content-01 {
        display: flex;
        gap: 5px;
        .smk-content-left {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .content-left-top {
            @include size-243-160;
            border: 1px solid #f00;
          }
          .content-left-bottom {
            display: flex;
            gap: 5px;
            .left-bottom-item {
              @include size-77-77;
              border: 1px solid #f00;
            }
          }
        }
        .smk-content-right {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .content-right-item {
            @include size-77-77;
            border: 1px solid #f00;
          }
        }
      }
      .smk-content-02 {
        display: flex;
        gap: 5px;
        .smk-content-left {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .content-left-item {
            @include size-160-77;
            border: 1px solid #f00;
          }
        }
        .smk-content-middle {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .content-middle-item {
            @include size-77-77;
            border: 1px solid #f00;
          }
        }
        .smk-content-right {
          .content-right-item {
            @include size-77-241;
            border: 1px solid #f00;
          }
        }
      }
      .smk-content-03 {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .smk-content-top {
          display: flex;
          gap: 5px;
          .content-top-item {
            @include size-77-77;
            border: 1px solid #f00;
          }
        }
        .smk-content-middle-01 {
          display: flex;
          gap: 5px;
          .content-middle-item-01 {
            @include size-77-77;
            border: 1px solid #f00;
          }
          .content-middle-item-02 {
            @include size-160-77;
            border: 1px solid #f00;
          }
        }
        .smk-content-middle-02 {
          display: flex;
          gap: 5px;
          .content-middle-item-02 {
            @include size-160-77;
            border: 1px solid #f00;
          }
        }
        .smk-content-bottom {
          display: flex;
          gap: 5px;
          .content--bottom-item {
            @include size-160-77;
            border: 1px solid #f00;
          }
        }
      }
      .smk-content-04 {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .smk-content-top {
          display: flex;
          gap: 5px;
          .content-top-item {
            @include size-326-326;
            border: 1px solid #f00;
          }
        }
        .smk-content-middle {
          display: flex;
          gap: 5px;
          .content-middle-item {
            @include size-160-77;
            border: 1px solid #f00;
          }
        }
        .smk-content-bottom {
          display: flex;
          gap: 5px;
          .content-bottom-item {
            @include size-160-77;
            border: 1px solid #f00;
          }
        }
      }
    }
  }
}

@keyframes slide-01 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-99%);
  }
}

@keyframes slide-02 {
  0% {
    transform: translateX(-99%);
  }
  100% {
    transform: translateX(0);
  }
}
