/*==== lsi ====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  width: 100%;
  background: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section {
  width: 1200px;
  height: 100%;
  border: 1px solid #f00;
}
main section .cdy-contents {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  gap: 20px;
}
main section .cdy-contents .img {
  border: 1px solid #f00;
  width: 590px;
  height: 381px;
  border-radius: 5px;
}
main section .cdy-contents .cdy-container {
  display: flex;
  width: 584px;
  height: 381px;
  gap: 40px;
}
main section .cdy-contents .cdy-container .cdy-info {
  width: 361px;
  height: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
main section .cdy-contents .cdy-container .cdy-info .tag {
  display: flex;
  gap: 5px;
}
main section .cdy-contents .cdy-container .cdy-info .tag .tag01 {
  border: 1px solid #ffffff;
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  padding: 5px;
}
main section .cdy-contents .cdy-container .cdy-info .tag .tag02 {
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 5px;
}
main section .cdy-contents .cdy-container .cdy-info ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main section .cdy-contents .cdy-container .cdy-info ul li {
  gap: 5px;
}
main section .cdy-contents .cdy-container .cdy-info ul li h3 {
  font-size: 24px;
}
main section .cdy-contents .cdy-container .cdy-info ul li p {
  font-size: 16px;
}
main section .cdy-contents .cdy-container .cdy-actors {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main section .cdy-contents .cdy-container .cdy-actors .actors {
  display: flex;
  gap: 10px;
}
main section .cdy-contents .cdy-container .cdy-actors .actors-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
main section .cdy-contents .cdy-container .cdy-actors .actors-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
main section .cdy-contents .cdy-container .cdy-actors .actor {
  border: 1px solid #f00;
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
main section .cdy-contents02 {
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
}
main section .cdy-contents02 .cdy-epi {
  display: flex;
  margin-top: 15px;
  gap: 20px;
}
main section .cdy-contents02 .cdy-epi .epi .epi-img {
  border: 1px solid #f00;
  margin-bottom: 10px;
  width: 305px;
  height: 180px;
  border-radius: 5px;
}
main section .cdy-contents03 {
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
main section .cdy-contents03 .cdy-location {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main section .cdy-contents03 .cdy-location .contitle {
  display: flex;
  gap: 10px;
}
main section .cdy-contents03 .cdy-location .contitle .fa-arrow-up {
  line-height: 24px;
  color: #00fffb;
  transform: rotate(45deg);
}
main section .cdy-contents03 .cdy-location .location-sub1 {
  flex-direction: column;
  text-align: center;
}
main section .cdy-contents03 .cdy-location .location-sub1 .lo-img {
  width: 387px;
  height: 183px;
  border-radius: 5px;
  border: 1px solid #f00;
}
main section .cdy-contents03 .cdy-ost {
  display: flex;
  flex-direction: column;
}
main section .cdy-contents03 .cdy-ost .contitle {
  display: flex;
  gap: 10px;
}
main section .cdy-contents03 .cdy-ost .contitle .fa-arrow-up {
  line-height: 24px;
  color: #00fffb;
  transform: rotate(45deg);
}
main section .cdy-contents03 .cdy-ost .cdy-ostcon1 {
  display: flex;
  gap: 20px;
  text-align: center;
  margin: 15px 0;
}
main section .cdy-contents03 .cdy-ost .cdy-ostcon1 .ost-img {
  width: 183px;
  height: 183px;
  border-radius: 5px;
  border: 1px solid #f00;
}
main section .cdy-contents03 .cdy-ost .cdy-ostcon2 {
  display: flex;
  gap: 20px;
  text-align: center;
}
main section .cdy-contents03 .cdy-ost .cdy-ostcon2 .ost-img {
  width: 183px;
  height: 183px;
  border-radius: 5px;
  border: 1px solid #f00;
}
main section .cdy-contents03 .cdy-goods {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main section .cdy-contents03 .cdy-goods .contitle {
  display: flex;
  gap: 10px;
}
main section .cdy-contents03 .cdy-goods .contitle .fa-arrow-up {
  line-height: 24px;
  color: #00fffb;
  transform: rotate(45deg);
}
main section .cdy-contents03 .cdy-goods .goods-con1 {
  display: flex;
  text-align: center;
  gap: 20px;
}
main section .cdy-contents03 .cdy-goods .goods-con1 .goods-img {
  width: 183px;
  height: 183px;
  border-radius: 5px;
  border: 1px solid #f00;
}
main section .cdy-contents04 {
  width: 100%;
  gap: 15px;
  margin-bottom: 15px;
  margin-top: 20px;
}
main section .cdy-contents04 .cdy-cons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
main section .cdy-contents04 .cdy-cons .sub {
  border: 1px solid dodgerblue;
  width: 183px;
  height: 250px;
  border-radius: 5px;
}/*# sourceMappingURL=detail.css.map */