@import "../styles/mixin.scss";
@import "../styles/reset.scss";
@import "../styles/variables.scss";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

main {
  width: 100%;
  background: map-get($map: $color, $key: dark);
  color: map-get($map: $color, $key: light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 2.4rem;
  }
  header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: map-get($map: $color, $key: page-bg);
    z-index: 2;
    .header-inner {
      width: 1200px;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      .inner-left {
        display: flex;
        align-items: center;
        gap: 100px;

        h2 {
          font-size: 3.2rem;
          color: map-get($map: $color, $key: main);
        }
        .category {
          display: flex;
          align-items: center;
          gap: 30px;
          h4 {
            color: map-get($map: $color, $key: btn-bg);
            cursor: pointer;
            transition: all 0.4s;
            &:hover {
              color: map-get($map: $color, $key: main);
              text-decoration: underline;
              text-underline-offset: 6px;
            }
          }
        }
      }
      .inner-right {
        display: flex;
        align-items: center;
        gap: 50px;
        .search-bar {
          width: 300px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid map-get($map: $color, $key: btn-bg);
          padding: 0 10px;
          input[type="text"] {
            width: 200px;
            height: 40px;
            border: none;
            font-size: 1.6rem;
            background-color: transparent;
            color: map-get($map: $color, $key: light);
            &::placeholder {
              transition: all 0.5s;
              opacity: 1;
            }
            &:focus {
              outline: none;
              &::placeholder {
                opacity: 0;
              }
            }
          }
          .fa-magnifying-glass {
            font-size: 2.4rem;
            color: map-get($map: $color, $key: btn-bg);
          }
        }
        .menu-icon {
          display: flex;
          align-items: center;
          gap: 30px;
          i {
            font-size: 2.4rem;
            color: map-get($map: $color, $key: btn-bg);
          }
        }
      }
    }
  }
  section {
    width: 1200px;
    height: 100%;
    border: 1px solid #f00;

    #cdy-contents01 {
      margin-top: 150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 20px;
      .img {
        border: 1px solid #f00;
        @include size-590-381;
        position: relative;
        .maintitle {
          display: flex;
          flex-direction: column;
          gap: 10px;
          position: absolute;
          bottom: 30px;
          left: 30px;
          h1 {
            font-size: 4.2rem;
          }
          .playbtn {
            display: flex;
            font-size: 2rem;
            gap: 20px;
            align-items: center;
            p {
              border: 1px solid map-get($map: $color, $key: light);
              background: map-get($map: $color, $key: light);
              padding: 10px;
              border-radius: 5px;
              color: map-get($map: $color, $key: dark);
              opacity: 0.7;
            }
            .fa-arrow-right-to-bracket {
              transform: rotate(90deg);
            }
          }
        }
      }
      .cdy-container {
        display: flex;
        width: 584px;
        height: 381px;
        gap: 40px;
        .cdy-info {
          width: 361px;
          height: 100%;
          gap: 20px;
          display: flex;
          flex-direction: column;
          .tag {
            display: flex;
            gap: 5px;
            .tag01 {
              border: 1px solid map-get($map: $color, $key: light);
              background: map-get($map: $color, $key: light);
              color: map-get($map: $color, $key: dark);
              border-radius: 5px;
              padding: 5px;
            }
            .tag02 {
              border: 1px solid map-get($map: $color, $key: light);
              border-radius: 5px;
              padding: 5px;
            }
          }
          ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            li {
              gap: 5px;
              h3 {
                font-size: 24px;
              }
              p {
                font-size: 16px;
              }
            }
          }
        }
        .cdy-actors {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .actors {
            display: flex;
            gap: 10px;
          }
          .actors-left {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 5px;
          }
          .actors-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
          }
          .actor {
            border: 1px solid #f00;
            @include size-85-85;
          }
        }
      }
    }
    #cdy-contents02 {
      width: 100%;
      margin-top: 50px;
      overflow: hidden;
      .cdy-epi {
        display: flex;
        margin-top: 15px;
        // margin-right: -60px;
        gap: 20px;
        .epi {
          .epi-img {
            border: 1px solid #f00;
            margin-bottom: 5px;
            @include size-290-180;
          }
        }
      }
    }
    .slick-track {
      display: flex !important;
    }
    .slick-slide {
      display: flex !important;
      gap: 20px;
      // justify-content: center;
      // align-items: center;
      // height: auto !important;
    }
    .slick-list {
      overflow: hidden;
    }
    // 좌우 버튼 css
    .slick-prev,
    .slick-next {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 45%;
      transform: translateY(-45%);
      color: map-get($map: $color, $key: light);
      border: none;
      cursor: pointer;
      padding: 10px;
      z-index: 1;
    }

    .slick-prev {
      left: -40px;
      &::before {
        content: "\f053";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
      }
    }
    .slick-next {
      right: -35px;
      &::before {
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
      }
    }

    #cdy-contents03 {
      width: 100%;
      margin-top: 40px;
      display: flex;
      gap: 20px;
      .cdy-location {
        display: flex;
        flex-direction: column;
        gap: 15px;
        h3 {
          display: flex;
          gap: 10px;
          i {
            line-height: 30px;
            color: map-get($map: $color, $key: main);
            transform: rotate(45deg);
          }
        }
        .location-sub {
          gap: 15px;
          text-align: center;
          display: flex;
          flex-direction: column;
          .location-sub1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
          }
          .lo-img {
            @include size-387-183;
            border: 1px solid #f00;
          }
        }
      }
      .cdy-ost {
        display: flex;
        flex-direction: column;
        h3 {
          display: flex;
          gap: 10px;
          i {
            line-height: 30px;
            color: map-get($map: $color, $key: main);
            transform: rotate(45deg);
          }
        }
        .cdy-ostcon1 {
          display: flex;
          gap: 20px;
          text-align: center;
          margin: 15px 0 15px 0;
          .ost-con {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .ost-img {
              @include size-183-183;
              border: 1px solid #f00;
            }
          }
        }
        .cdy-ostcon2 {
          display: flex;
          gap: 20px;
          text-align: center;
          .ost-con {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .ost-img {
              @include size-183-183;
              border: 1px solid #f00;
            }
          }
        }
      }
      .cdy-goods {
        display: flex;
        flex-direction: column;
        gap: 15px;
        h3 {
          display: flex;
          gap: 10px;
          i {
            line-height: 30px;
            color: map-get($map: $color, $key: main);
            transform: rotate(45deg);
          }
        }
        .goods-con1 {
          display: flex;
          text-align: center;
          gap: 20px;
          .goodssub {
            display: flex;
            flex-direction: column;
            gap: 5px;
          }
          .goods-img {
            @include size-183-183;
            border: 1px solid #f00;
          }
        }
      }
    }
    #cdy-contents04 {
      width: 100%;
      gap: 15px;
      margin-bottom: 15px;
      margin-top: 40px;
      .cdy-cons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        .sub {
          border: 1px solid dodgerblue;
          @include size-183-250;
        }
      }
    }
  }
  footer {
    width: 100%;
    background: map-get($map: $color, $key: page-bg);
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    .footer-inner {
      width: 1200px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;
      .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          font-size: 2.4rem;
          font-weight: bold;
          color: map-get($map: $color, $key: main);
        }
        ul {
          display: flex;
          gap: 20px;
          li {
            color: map-get($map: $color, $key: btn-bg);
          }
        }
      }
      hr {
        color: map-get($map: $color, $key: btn-bg);
      }
      .footer-middle {
        ul {
          display: flex;
          flex-direction: column;
          gap: 5px;
          color: map-get($map: $color, $key: btn-bg);
        }
      }
      .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          color: map-get($map: $color, $key: btn-bg);
        }
        .footer-icon {
          display: flex;
          gap: 20px;
          font-size: 1.8rem;
          color: map-get($map: $color, $key: btn-bg);
        }
      }
    }
  }
}

// tablet.ver
@media screen and (min-width: 960px) and (max-width: 1200px) {
  main {
    section {
      width: 940px;
      height: 100%;
      #cdy-contents01 {
        width: 100%;
        .img {
          @include size-556-364;
        }
        .cdy-container {
          width: 357px;
          margin: 0 auto;
          gap: 5px;
          height: 364px;
          .cdy-info {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            gap: 5px;
          }
          .cdy-actors {
            display: none;
          }
        }
      }
      #cdy-contents02 {
        display: flex !important;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .cdy-epi-title {
          width: 220px;
          display: flex;
          justify-content: center;
          align-items: center;
          h3 {
            margin-bottom: 30px;
          }
        }

        .cdy-epi {
          display: grid;
          margin-top: 15px;
          gap: 20px;
          .epi {
            .epi-img {
              @include size-172-100;
            }
          }
        }
      }
      // 좌우 버튼 css
      .slick-prev,
      .slick-next {
        width: 80px;
        height: 80px;
        position: absolute;
        top: 40%;
        transform: translateY(-45%);
        color: map-get($map: $color, $key: light);
        border: none;
        cursor: pointer;
        padding: 10px;
        z-index: 1;
      }
      .slick-prev {
        left: -30px;
      }
      .slick-next {
        right: 0px;
      }
      #cdy-contents03 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .cdy-location {
          flex-direction: row;
          justify-content: center;
          align-items: center;
          h3 {
            order: 2;
            margin-top: -40px;
          }
          .location-sub {
            display: flex;
            flex-direction: row;
            order: 1;
            gap: 20px;
            .location-sub1 {
              .lo-img {
                @include size-362-147;
              }
            }
          }
        }
        .cdy-ost {
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 20px;
          h3 {
            margin-top: -20px;
          }
          .cdy-ostcon1 {
            .ost-con {
              .ost-img {
                @include size-172-172;
              }
            }
          }
          .cdy-ostcon2 {
            .ost-con {
              .ost-img {
                @include size-172-172;
              }
            }
          }
        }
        .cdy-goods {
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 20px;
          h3 {
            order: 2;
            margin-top: -40px;
          }
          .goods-con1 {
            order: 1;
            .goodssub {
              .goods-img {
                @include size-172-172;
              }
            }
          }
        }
      }
      #cdy-contents04 {
        display: none;
      }
    }
  }
}

// mobile.ver
@media screen and (max-width: 959px) {
  main {
    section {
      width: 326px;
      height: 100%;
      #cdy-contents01 {
        flex-direction: column;
        .img {
          @include size-320-250;
          .maintitle {
            bottom: 20px;
            left: 20px;
            h1 {
              font-size: 2.4rem;
            }
            .playbtn {
              font-size: 1.6rem;
              gap: 10px;
              p {
                padding: 5px;
              }
            }
          }
        }
        .cdy-container {
          width: 100%;
          margin: 0 auto;
          .cdy-info {
            width: 100%;
            margin: 20px 0;
            .tag {
              font-size: 1.4rem;
            }
            ul {
              li {
                h3 {
                  font-size: 1.6rem;
                }
                p {
                  font-size: 1.2rem;
                }
              }
            }
          }
          .cdy-actors {
            display: none;
          }
        }
      }
      #cdy-contents02 {
        margin-top: -5rem;
        h3 {
          font-size: 1.6rem;
        }
        .cdy-epi {
          display: flex;
          // grid-template-columns: repeat(2, 1fr);
          gap: 5px;
          .epi {
            p {
              font-size: 1.2rem;
            }
            .epi-img {
              @include size-160-77;
            }
          }
        }
      }
      .slick-prev,
      .slick-next {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 40%;
        transform: translateY(-45%);
        color: map-get($map: $color, $key: light);
        border: none;
        cursor: pointer;
        padding: 10px;
        z-index: 1;
      }
      .slick-prev {
        left: -10px;
      }
      .slick-next {
        right: -10px;
      }
      #cdy-contents03 {
        flex-direction: column;
        h3 {
          font-size: 1.6rem;
          display: flex;
          align-items: center;
        }
        .cdy-location {
          flex-direction: column;
          .location-sub {
            flex-direction: column;
            .location-sub1 {
              font-size: 1.2rem;
              .lo-img {
                width: 325px;
                height: 160px;
              }
            }
          }
        }
        .cdy-ost {
          .cdy-ostcon1 {
            gap: 5px;
            .ost-con {
              font-size: 1.2rem;
              .ost-img {
                @include size-160-160;
              }
            }
          }
          .cdy-ostcon2 {
            gap: 5px;
            .ost-con {
              font-size: 1.2rem;
              .ost-img {
                @include size-160-160;
              }
            }
          }
        }
        .cdy-goods {
          .goods-con1 {
            gap: 5px;
            .goodssub {
              font-size: 1.2rem;
              .goods-img {
                @include size-160-160;
              }
            }
          }
        }
      }
      #cdy-contents04 {
        display: none;
      }
    }
  }
}
