@import "../styles/mixin.scss";
@import "../styles/reset.scss";
@import "../styles/variables.scss";

main {
  width: 100%;
  background: map-get($map: $color, $key: dark);
  color: map-get($map: $color, $key: light);
  display: flex;
  justify-content: center;
  align-items: center;
  section {
    width: 1200px;
    height: 100%;
    border: 1px solid #f00;
    .cdy-contents01 {
      margin-top: 150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 20px;
      .img {
        border: 1px solid #f00;
        @include size-590-381;
      }
      .cdy-container {
        display: flex;
        width: 584px;
        height: 381px;
        gap: 40px;
        .cdy-info {
          width: 361px;
          height: 100%;
          gap: 20px;
          display: flex;
          flex-direction: column;
          .tag {
            display: flex;
            gap: 5px;
            .tag01 {
              border: 1px solid map-get($map: $color, $key: light);
              background: map-get($map: $color, $key: light);
              color: map-get($map: $color, $key: dark);
              border-radius: 5px;
              padding: 5px;
            }
            .tag02 {
              border: 1px solid map-get($map: $color, $key: light);
              border-radius: 5px;
              padding: 5px;
            }
          }
          ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            li {
              gap: 5px;
              h3 {
                font-size: 24px;
              }
              p {
                font-size: 16px;
              }
            }
          }
        }
        .cdy-actors {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .actors {
            display: flex;
            gap: 10px;
          }
          .actors-left {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 5px;
          }
          .actors-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
          }
          .actor {
            border: 1px solid #f00;
            @include size-85-85;
          }
        }
      }
    }
    .cdy-contents02 {
      width: 100%;
      margin-top: 50px;
      overflow: hidden;
      .cdy-epi {
        display: flex;
        margin-top: 15px;
        gap: 20px;
        .epi {
          .epi-img {
            border: 1px solid #f00;
            margin-bottom: 10px;
            @include size-305-180;
          }
        }
      }
    }
    .cdy-contents03 {
      width: 100%;
      margin-top: 20px;
      display: flex;
      gap: 20px;
      .cdy-location {
        display: flex;
        flex-direction: column;
        gap: 15px;
        h3 {
          display: flex;
          gap: 10px;
          i {
            line-height: 24px;
            color: map-get($map: $color, $key: main);
            transform: rotate(45deg);
          }
        }
        .location-sub {
          gap: 20px;
          justify-content: center;
          text-align: center;
          .location-sub1 {
            margin-bottom: 15px;
          }
          .lo-img {
            @include size-387-183;
            border: 1px solid #f00;
          }
        }
      }
      .cdy-ost {
        display: flex;
        flex-direction: column;
        h3 {
          display: flex;
          gap: 10px;
          i {
            line-height: 24px;
            color: map-get($map: $color, $key: main);
            transform: rotate(45deg);
          }
        }
        .cdy-ostcon1 {
          display: flex;
          gap: 20px;
          text-align: center;
          margin: 15px 0;
          .ost-img {
            @include size-183-183;
            border: 1px solid #f00;
          }
        }
        .cdy-ostcon2 {
          display: flex;
          gap: 20px;
          text-align: center;
          .ost-img {
            @include size-183-183;
            border: 1px solid #f00;
          }
        }
      }
      .cdy-goods {
        display: flex;
        flex-direction: column;
        gap: 15px;
        h3 {
          display: flex;
          gap: 10px;
          i {
            line-height: 24px;
            color: map-get($map: $color, $key: main);
            transform: rotate(45deg);
          }
        }
        .goods-con1 {
          display: flex;
          text-align: center;
          gap: 20px;
          .goods-img {
            @include size-183-183;
            border: 1px solid #f00;
          }
        }
      }
    }
    .cdy-contents04 {
      width: 100%;
      gap: 15px;
      margin-bottom: 15px;
      margin-top: 20px;
      .cdy-cons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        .sub {
          border: 1px solid dodgerblue;
          @include size-183-250;
        }
      }
    }
  }
}

// tablet.ver
@media screen and (min-width: 960px) and (max-width: 1200px) {
  main {
    section {
      width: 940px;
      height: 100%;
      .cdy-contents01 {
        .img {
          @include size-556-364;
        }
      }
      .cdy-contents02 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        h3 {
          padding: 50px 50px;
        }
        .cdy-epi {
          margin-top: 15px;
          gap: 20px;
          .epi {
            .epi-img {
              @include size-172-100;
            }
          }
        }
      }
      .cdy-contents03 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .cdy-location {
          flex-direction: row;
          justify-content: center;
          align-items: center;

          h3 {
            order: 2;
          }
          .location-sub {
            display: flex;
            order: 1;
            gap: 20px;
            .location-sub1 {
              .lo-img {
                @include size-362-147;
              }
            }
          }
        }
        .cdy-ost {
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 20px;
          .cdy-ostcon1 {
            .ost-con {
              .ost-img {
                @include size-172-172;
              }
            }
          }
          .cdy-ostcon2 {
            .ost-con {
              .ost-img {
                @include size-172-172;
              }
            }
          }
        }
        .cdy-goods {
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 20px;
          h3 {
            order: 2;
          }
          .goods-con1 {
            order: 1;
            .goodssub {
              .goods-img {
                @include size-172-172;
              }
            }
          }
        }
      }
      .cdy-contents04 {
        display: none;
      }
    }
  }
}

// mobile.ver
@media screen and (max-width: 959px) {
  main {
    section {
      width: 320px;
      height: 100%;
      .cdy-contents01 {
        flex-direction: column;
        .img {
          @include size-320-250;
        }
        .cdy-container {
          width: 100%;
          margin: 0 auto;
          .cdy-info {
            width: 100%;
            margin: 0 auto;
          }
          .cdy-actors {
            display: none;
          }
        }
      }
      .cdy-contents02 {
        .cdy-epi {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 5px;
          .epi {
            .epi-img {
              @include size-160-77;
            }
          }
        }
      }
      .cdy-contents03 {
        flex-direction: column;
        .cdy-location {
          flex-direction: column;
          .location-sub {
            flex-direction: column;
            .location-sub1 {
              .lo-img {
                width: 325px;
                height: 80px;
              }
            }
          }
        }
        .cdy-ost {
          .cdy-ostcon1 {
            gap: 5px;
            .ost-con {
              .ost-img {
                @include size-160-160;
              }
            }
          }
          .cdy-ostcon2 {
            gap: 5px;
            .ost-con {
              .ost-img {
                @include size-160-160;
              }
            }
          }
        }
        .cdy-goods {
          .goods-con1 {
            gap: 5px;
            .goodssub {
              .goods-img {
                @include size-160-160;
              }
            }
          }
        }
      }
      .cdy-contents04 {
        display: none;
      }
    }
  }
}
