@mixin size-1200-793 {
  width: 1200px;
  height: 793px;
  border-radius: 5px;
}

@mixin size-793-792 {
  width: 793px;
  height: 792px;
  border-radius: 5px;
}

@mixin size-793-387 {
  width: 793px;
  height: 387px;
  border-radius: 5px;
}

@mixin size-590-381 {
  width: 590px;
  height: 381px;
  border-radius: 5px;
}

@mixin size-556-364 {
  width: 556px;
  height: 364px;
  border-radius: 5px;
}

@mixin size-387-590 {
  width: 387px;
  height: 590px;
  border-radius: 5px;
}

@mixin size-387-387 {
  width: 387px;
  height: 387px;
  border-radius: 5px;
}

@mixin size-387-183 {
  width: 387px;
  height: 183px;
  border-radius: 5px;
}

@mixin size-364-364 {
  width: 364px;
  height: 364px;
  border-radius: 5px;
}

@mixin size-362-147 {
  width: 362px;
  height: 147px;
  border-radius: 5px;
}

@mixin size-325-147 {
  width: 325px;
  height: 147px;
  border-radius: 5px;
}

@mixin size-320-250 {
  width: 320px;
  height: 250px;
  border-radius: 5px;
}

@mixin size-305-180 {
  width: 305px;
  height: 180px;
  border-radius: 5px;
}

@mixin size-243-160 {
  width: 243px;
  height: 160px;
  border-radius: 5px;
}

@mixin size-183-250 {
  width: 183px;
  height: 250px;
  border-radius: 5px;
}

@mixin size-183-183 {
  width: 183px;
  height: 183px;
  border-radius: 5px;
}

@mixin size-172-172 {
  width: 172px;
  height: 172px;
  border-radius: 5px;
}

@mixin size-172-100 {
  width: 172px;
  height: 100px;
  border-radius: 5px;
}

@mixin size-160-243 {
  width: 160px;
  height: 243px;
  border-radius: 5px;
}

@mixin size-160-160 {
  width: 160px;
  height: 160px;
  border-radius: 5px;
}

@mixin size-160-90 {
  width: 160px;
  height: 90px;
  border-radius: 5px;
}

@mixin size-160-77 {
  width: 160px;
  height: 77px;
  border-radius: 5px;
}

@mixin size-85-85 {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

@mixin size-77-77 {
  width: 77px;
  height: 77px;
  border-radius: 5px;
}
