$color: (
  dark: #000000,
  light: #ffffff,
  main: #00fffb,
  sub-01: #87cddb,
  sub-02: #0929fd,
  sub-03: #b0e0e6,
  page-bg: #333333,
  btn-bg: #c1c7cd,
  accent: #f10d42,
  error: #da1e28,
  warning: #f1c21b,
  success: #25a249,
);

$font: (
  noto: "Noto Sans KR",
  dohyeon: "Do Hyeon",
);
